[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-money
Exec=harbour-money
Name=Money
# translation example:
# your app name in German locale (de)
Name[de]=Money

